.DS_Store
/nats/jetstream-cluster/
/broker-queue/nats/jetstream-cluster/
/broker-queue/nats/db/
/data-search-engine/meilisearch/meili_data/
/cloud-emulator/localstack/volume
/time-tracking/traggo/traggodata